body {
    background: linear-gradient(to bottom, #29E4B7, #192DDF);
    font-family: 'Gafata', sans-serif;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.criar-conta-container {
    top: 10px;
    right: 10px;
}

.btn-primary, .btn-primary:hover {
    background: linear-gradient(to bottom, #29E4B7, #192DDF);
    border: none;
    border-radius: 20px;
    font-family: 'Exo', sans-serif;
}

h1, .form-group label, .form-group a {
    font-family: 'Gafata', sans-serif;
}

.social-icons a {
    color: white;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .separator {
    margin: 0 10px;
    color: #ccc;
}
